<p id="notice"><%= notice %></p>

<h1>Bookings</h1>

<table class="table table-hover table-aut">
  <thead>
    <tr>
      <th>Bike</th>
      <th>User</th>
      <th>Start</th>
      <th>End</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.sort_by(&:start).each do |booking| %>
      <tr>
        <td><%= booking.bike.name %></td>
        <td><%= booking.user.name %></td>
        <td><%= booking.start %></td>
        <td><%= booking.end %></td>
        <td><%= link_to '', booking, :class=>"far fa-eye" %></td>
        <td><%= link_to '', edit_booking_path(booking), :class=>"fas fa-edit" %></td>
        <td><%= link_to '', booking, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"far fa-trash-alt" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '', new_booking_path, :class=>"fas fa-plus-circle addico" %>

